{% extends 'base.html' %}
{% load humanize %}
{% load martortags %}
{% block more_css %}
	<style>
		.cover-photo{
			width: 100%;
		}
		.content{
			display: table;
			padding: 30px;
		}
		.content-top{
			height: 135px;
		}
		.thumbnail{

		}
		.title{
			padding: 35px;
		}
		.content-bottom{
			padding: 0 25px;
		}
		#info-box{
			border: 1px solid #ddd;
			background: #eee;
			padding: 20px;
		}
	</style>
{% endblock %}


{% block metatags %}
    <meta name="title" content="{{object.title}}">
    <meta name="description" content="{{object.description}}">
    <meta name="keywords" content="st, de, paul, assistance, center, sign in, signin">
    <meta property="og:site_name" content="St. De Paul Assistance Center">
    <meta property="og:url" content="{{request.get_full_path}}">
    <meta property="og:title" content="{{object.title}}">
    {% if object.thumbnail %}
    <meta property="og:image" content="{{object.get_thumbnail_url}}">
    {% else %}
    <meta property="og:image" content="https://www.stdepaul.org/static/img/stdepaulsqblue.png">
    {% endif %}
    <meta property="og:description" content="{{object.description}}">
    {% endblock %}

{% block content %}
<div class="col-md-10 offset-md-1 col-xs-12 col-sm-12" style="background:white; margin-top: 150px; margin-bottom: 100px; padding:20px;">
	<div id="cover-photo">
		<iframe
		  width="100%"
		  height="250px"
		  style="border:0"
		  loading="lazy"
		  allowfullscreen
		  referrerpolicy="no-referrer-when-downgrade"
		  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDoNOeDFchHqgV5o7A01jmCQnecxUKRhTs
		    &q={{object.address}}">
		</iframe>
	</div>
	<div class="content col-md-12">
		<div class="content-top col-md-12">

			<div class="thumbnail col-md-3 floatleft">
				{% if object.thumbnail %}
				<img src="{{object.get_thumbnail_url}}" alt="{{object.title}}" width="100%"/>
				{% else %}
				<img src="/static/img/stdepaulsqblue.png" alt="St. De Paul" width="100%"/>
				{% endif %}
				<div id="info-box">
					{% if object.phone_number %}<p class="nvp"> <b>Phone Number:  </b>{{object.phone_number}}</p>{% endif %}
					<p class="nvp"> <b>Address:  </b>{{object.address}}</p>

					<p class="nvp"> <b>Hours of Operation: </b> {{object.hours_of_operation}}</p>
					<p class="nvp"> <b>Created By: </b> {% if object.created_by %}<a href="/profile/{{object.created_by}}"> {{object.created_by}} </a>{% else %} wiki_admin {% endif %}</p>
					<p class="nvp"> <b>Created At: </b> {{object.created_at|naturalday}}</p>
					<p class="nvp"> <b>Location: </b> <a href="{% url 'posts_home' location=object.location %}">{{object.location}}</a></p>
					{% if object.website %}<p class="nvp"> <b>Website: </b> <a href="{{object.website}}" target="_blank"> {{object.website}}</a></p> {% endif %}
					<p class="nvp"> <b>Help Type: </b> <a href="{% url 'posts_home' location=object.location %}?help_types[]={{object.helper_type}}"> {{object.get_helper_type_display}} </a></p>
				</div>
			</div>
			<div class="title col-md-9 floatleft">
				<h1 class="nvp floatleft prata-font"> {{object.title}} </h1>

				{% if request.user == object.created_by or request.user in object.moderators.all or request.user.is_staff or request.user.is_superuser %}
			<a class="btn btn-primary floatright" style="margin: 8px" href="{% url 'wiki_entry_update' location=object.location pk=object.pk slug=object.slug %}"> <i class="fa fa-edit"></i> &nbsp; Update this Page </a> 

			<a class="btn btn-info floatright" style="margin:8px" id="get-geoposition" href="#"> <i class="fa fa-map-marked"></i> &nbsp; Get Geoposition </a>


			{% endif %}
				<p class="smallfont nvp" style="clear:both"> <b>{{object.get_object_type}} created by {% if object.created_by %}<a href="/profile/{{object.created_by.username}}">{{object.created_by}}</a>{% else %} wiki_admin {% endif %}, {{object.created_at|naturalday}} in <a href="/help/{{object.location}}"> {{object.location}}</a>, in <a href="/help/{{object.location}}/?help_types[]={{object.helper_type}}"> {{object.get_helper_type_display}}</a></b></p>

			</div>
		</div>
		<div class="content-bottom">


			<p> {{object.description|safe_markdown}} </p>

			
		</div>
	</div>
</div>
{% endblock %}


{% block more_js %}
<script>
	$('#get-geoposition').click(function(){
		$.ajax({
			'url': '/api/get_geoposition/',
			'type': 'GET',
			'dataType': 'json',
			'data': {
				'pk': {{object.pk}},
				'type': 'wiki_entry',
			},
			success : function(data){
				alert(data)
			}
		})
	})
</script>
{% endblock %}