{% extends 'base.html' %}

{% block content %}

<div class="col-md-10 offset-md-1" style="background:white;">
	<br><br><br>
	<br><br><br>
	<h3 class="prata-font"> About St. De Paul</h3>
	<p> Currently, <a href="https://linkedin.com/in/mikejohnsonjr"> Michael Johnson Jr (me) </a> is the only developer for St. De Paul. The project is not yet incorporated, but I'd like to incorporate as a non-profit. The code for St. De Paul is open source; anyone can contribute and improve the site. </p>

	<p> I had the idea for the project when I was trying to think of ways that web infrastructure can help cities build physical infrastructure. I started to think more broadly, and thought about how so many people in my community are struggling, and could be helped if they knew about social services in their area. I decided that St. De Paul can be a solution to this problem and other problems: to reduce homelessness, and to reduce poverty. </p>

	<p> St. Vincent De Paul, the person, devoted his life to helping the poor. I named this organization after him because that is also the goal of this organization. </p>
</div>
{% endblock %}