

<!DOCTYPE html>
<html>
<head>

	{% load static %}
	{% load martortags %}

	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-CLR2N1YKXC"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'G-CLR2N1YKXC');
	</script>
	<title> {% block title %} St. Vincent de Paul Assistance Center {% endblock %}</title>

    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    {% block metatags %} 
    <meta name="title" content="St Vincent de Paul Assistance Center">
    <meta name="description" content="Here to help you when you need it, as best we can.">
    <meta name="keywords" content="st, de, paul">
    <meta property="og:site_name" content="St. Vincent de Paul Assistance Center">
    <meta property="og:url" content="https://www.stdepaul.org">
    <meta property="og:title" content="St de Paul">
    <meta property="og:image" content="https://www.stdepaul.org/static/img/stpaulsqblue.png">
    <meta property="og:description" content="Here to help you when you need it, as best we can.">

    
    <link rel="image_src" href="https://www.stdepaul.org/static/img/stpaulsqblue.png" />

    {% endblock %}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css">
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
    

    <!--
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon"/>
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">
	-->

	<link href="{% static 'plugins/css/ace.min.css' %}" type="text/css" media="all" rel="stylesheet" />
  	<link href="{% static 'plugins/css/resizable.min.css' %}" type="text/css" media="all" rel="stylesheet" />
  	<link href="{% static 'martor/css/martor.bootstrap.min.css' %}" type="text/css" media="all" rel="stylesheet" />


	{% block more_css %}

	{% endblock %}

</head>
<body>
	 <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="nav">
	   <a class="navbar-brand brand-styles" href="/"> <img height="100px" src="/static/img/stdepaul.png" alt="St. Vincent de Paul Assistance Center" /></a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">

	      <!--
	      <li class="nav-item active">
	        <a class="nav-link" href="/about">About <span class="sr-only">(current)</span></a>
	      </li>
	  	  -->
	      
	      

	      	<form class="form-inline my-2 my-lg-0" action="{% url 'posts_home' location='global' %}">
		      <input class="form-control mr-sm-2" type="search" placeholder="Search" name='q' aria-label="Search">
		      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit"><i class="fa fa-search"> </i></button>
		    </form>
	    </ul>
	    <ul class="nav navbar-nav navbar-right">
	    	<li class="nav-item dropdown">
		        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          About
		        </a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		          <a class="dropdown-item" href="/about">About St. DePaul</a>
		          <!-- <a class="dropdown-item" href="#">Mission</a> -->
		          <!-- <a class="dropdown-item" href="#">Board</a> -->
		          <a class="dropdown-item" href="mailto:hello@stdepaul.org">Contact</a>
		          <div class="dropdown-divider"></div>
		          <a class="dropdown-item" href="https://github.com/stdepaul/stdepaul">Source Code</a>
		        </div>
		    </li>

		    <li class="nav-item dropdown">
		        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          Contribute
		        </a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		          <a class="dropdown-item" href="/help/global/wiki">Wiki</a>
		          <a class="dropdown-item" href="https://github.com/stdepaul/stdepaul">Source Code</a>
		          <a class="dropdown-item" href="/become-a-helper">Become a Helper</a>
		          <a class="dropdown-item" href="/become-a-moderator">Become a Moderator</a>
		        </div>
		    </li>

		    &nbsp;
		    <div style="border-left:1px solid #ddd;"> 
		    </div> &nbsp;
		   

	      	{% if not user.is_authenticated %}
             <li class="nav-item">
		    	<a class="nav-link" href="/accounts/login"> Login </a>
		    </li>

		    <li class="nav-item">
		    	<a class="nav-link" href="/accounts/signup"> Register </a>
		    </li>

            {% else %}

            <li class="nav-item dropdown">
              <a href="#" style="margin-right:45px;" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> {{request.user}} <span class="caret"></span></a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		          <a class="dropdown-item" href="/profile/{{request.user}}">Profile</a>
		          <a class="dropdown-item" href="/edit-profile">Edit Profile</a>
		          <div class="dropdown-divider"> </div>

		          <a class="dropdown-item" href="/my-organizations">My Helper Orgs</a>
		          <!-- <a class="dropdown-item" href="/wiki-management-dashboard">My Wiki Management Dashboard</a> -->

		          <div class="dropdown-divider"></div>
		          <a class="dropdown-item" href="/accounts/logout">Log out</a>
		        </div>
            </li>

            

            {% endif %}  
	    </ul>
	  </div>
	</nav>


	{% block content %}

	{% endblock %}


    {% block footer %}
    <footer id="footer">

        <div class="col-md-8 offset-md-2 col-sm-12 col-xs-12 footer-styles">
            <div class="col-md-4 col-sm-4 col-xs-4 offset-md-0 ta-left floatleft">
                <div class="widget">
                    <h3>Info</h3>
                    <ul>
                        <li><a href="/about">About</a></li>
                        <li><a href="mailto:hello@stdepaul.org">Contact</a></li>
                    </ul>
                </div>    
            </div><!--/.col-md-3-->

            <div class="col-md-4 col-sm-4 col-xs-4 ta-center floatleft">
                <div class="widget">
                    <h3>Developers</h3>
                    <ul>
                        <li><a href="https://github.com/stdepaul/stdepaul">Source Code</a></li>
                        <li><a href="/api-home"> API</a></li>
                        <li><a href="/documentation"> Documentation </a></li>
                       
                    </ul>
                </div>    
            </div><!--/.col-md-3-->

            <div class="col-md-4 col-sm-4 col-xs-4 ta-right floatright">
                <div class="widget">
                    <h3>Follow</h3>
                    <ul>
                        <li><a href="//instagram.com/stdepaul">Instagram</a></li>
                        <li><a href="#"> Discord </a></li>
                    </ul>
                </div>    
            </div><!--/.col-md-3-->
        </div>
        <div class="col-md-8 offset-md-2 small3">

            <div class="col-sm-12 col-md-6 floatleft">
                St. Vincent de Paul Assistance Center
            </div>
            <div class="col-sm-12 col-md-6 floatright">
                <ul class="floatright">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="mailto:hello@stdepaul.org">Contact</a></li>
                </ul>
            </div>
        </div>
    </footer><!--/#footer-->
    {% endblock %}


    <script type="text/javascript" src="{% static 'plugins/js/highlight.min.js' %}"></script>
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"> </script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"> </script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"> </script>

	<script type="text/javascript" src="{% static 'plugins/js/ace.js' %}"></script>
	<script type="text/javascript" src="{% static 'plugins/js/mode-markdown.js' %}"></script>
	<script type="text/javascript" src="{% static 'plugins/js/ext-language_tools.js' %}"></script>
	<script type="text/javascript" src="{% static 'plugins/js/theme-github.js' %}"></script>
	<script type="text/javascript" src="{% static 'plugins/js/typo.js' %}"></script>
	<script type="text/javascript" src="{% static 'plugins/js/spellcheck.js' %}"></script>
	<script type="text/javascript" src="{% static 'plugins/js/highlight.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'plugins/js/resizable.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'plugins/js/emojis.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'martor/js/martor.bootstrap.min.js' %}"></script>

	<script>
		$("#id_location").autocomplete({
                source: "/api/get_location_slug/",
                minLength: 2,
                open: function(){
                    setTimeout(function () {
                        $('.ui-autocomplete').css('z-index', 99);
                    }, 0);
                }
              });
	</script>
	<script src="/static/js/main.js"> </script>

	
	{% block more_js %}



	{% endblock %}
</body>
</html>